mlir==20.0.0.2024120617+cuda.39451e45; sys_platform == "linux" and platform_machine == "x86_64"
mlir==20.0.0.2024120617+39451e45; sys_platform != "linux" or platform_machine != "x86_64"
--find-links https://github.com/makslevental/mlir-wheels/releases/expanded_assets/latest
