mlir==20.0.0.2024112701+fad5ed6e; sys_platform != "linux"
mlir==20.0.0.2024112701+cuda.fad5ed6e; sys_platform == "linux"
--find-links https://github.com/makslevental/mlir-wheels/releases/expanded_assets/latest
